.facebook-icon {
    &:hover {
        fill: #3b5998;
    }
}
.instagram-icon {
    &:hover {
        fill: #DD2A7B;
    }
}
.github-icon {
    &:hover {
        fill: darkgrey;
    }
}
.telegram-icon{
    &:hover {
        fill: #0088cc;
    }
}