.title {
    font-weight: 700;
    line-height: 60px;
    color: #000;
    &_fz48 {
        font-size: 48px;
        margin-top: 9px;
    }
    &_fz36 {
        font-size: 36px;
        margin-top: 6px;
    }
    &_fz20 {
        font-size: 20px;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }
}
.section {
    &-title {
        position: relative;
        @include before_circle;
        text-align: center;
        padding-top: 7px;
        &:before {
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
    &-subtitle {
        text-align: center;
    }
}